/* You can add global styles to this file, and also import other style files */
input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.error {
  color: rgb(243, 33, 33);
}

.box {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
}
